# Mission to Mars

In [5]:
# Import Dependencies
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from selenium import webdriver

In [6]:
mars_data = {}

## News of the day

In [7]:
driver_path = 'chromedriver.exe'
driver = webdriver.Chrome(executable_path=driver_path)

# NASA Mars News Site
nasa_mars_url = 'https://mars.nasa.gov/news/'

driver.get(nasa_mars_url)

In [15]:
section = driver.find_element_by_class_name('grid_gallery')
element = section.find_element_by_class_name('slide')
news_title = element.find_element_by_class_name('content_title').text
news_body = element.find_element_by_class_name('article_teaser_body').text

mars_data['news_title'] = news_title
mars_data['news_body'] = news_body
print(news_title)
print(news_body)

The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

## JPL Mars Featured Image

In [245]:
# Browser path
executable_path = {'executable_path': 'chromedriver.exe'}

# Browser initialization
browser = Browser('chrome', **executable_path, headless=False)

# JPL featured space image url
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Open the url in the browser
browser.visit(jpl_url)

In [246]:
# Click on the full image button to see it in medium size
try:
    browser.click_link_by_partial_text('FULL IMAGE')
    
except:
    print('No featured image')

# Click on the more info button to open the image's page
try:
    browser.click_link_by_partial_text('more info')
except:
    print('The featured image has no extra information')
    
# Select the current page's html information
html = browser.html

# Create a BeautifulSoup object
jpl_soup = bs(html, 'lxml')

# Look for the article section to search for the large-size image link
featured_image = jpl_soup.find('article')

# Look for the img section to extract the large-size image link (src)
featured_image_src = featured_image.find('img')['src']

# Join the JPL NASA link with the image's link to create its full url and store it in a variable
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_src

# Print the url to check if it succeeded
print(featured_image_url)

# Append to mars data
mars_data['featured_image'] = featured_image_url

# Exit browser
browser.quit()

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg

## NASA Twitter Mars Weather

In [247]:
# Twitter Mars weather
twitter_url = 'https://twitter.com/marswxreport?lang=en'

# Create a request to retrieve the page
twitter_response = requests.get(twitter_url).text

# Create a BeautifulSoup object
twitter_soup = bs(twitter_response, 'lxml')

In [248]:
# Search for the first div (division) tag with class stream
twitter_results = twitter_soup.find('div', class_ = 'stream')
# print(twitter_results)

# Search for the first div tag within the results with class content
twitter_content = twitter_results.find_all('div', class_ = 'content')

for result in twitter_content:

    # Check it's not a retweet
    name_check = result.find('span', class_ = 'FullNameGroup')

    name = name_check.find('strong', class_ = 'fullname').text


    if (name == 'Mars Weather'):
        # Search for the first p (paragraph) tag within the content
        twitter_paragraph = result.find('p')

        # Loop through the tags in the paragraph for the a tag
        for atag in twitter_paragraph('a'):
            # Delete the items with a tag
            atag.decompose()

        # Store the text version of the paragraph without a tags in a variable
        mars_weather = twitter_paragraph.text

        # Print the result to check if it succeeded
        print(mars_weather)
        
        # Append to mars data
        mars_data['weather'] = mars_weather
        
        break

InSight sol 532 (2020-05-26) low -93.1ºC (-135.7ºF) high -1.1ºC (30.0ºF)
winds from the SW at 4.9 m/s (10.9 mph) gusting to 17.7 m/s (39.6 mph)
pressure at 7.10 hPa

## Mars Planet Profile

In [249]:
# Mars planet profile
profile_url = 'https://space-facts.com/mars/'

# Create a request to retrieve the page
profile_response = requests.get(profile_url).text

# Create a BeautifulSoup object
profile_soup = bs(profile_response, 'lxml')

In [122]:
# Search for the table containing Mars' profile
profile_results = profile_soup.find_all('aside', class_ = 'widget widget_text clearfix')
# print(profile_results)

for result in profile_results:
    table_body = result.find('tbody')
    table_header = result.find('h3')

In [126]:
column1 = []
column2 = []

for row in table_body:    
    column1.append(row.find('td', class_ = 'column-1').text)
    column2.append(row.find('td', class_ = 'column-2').text)

In [137]:
data = pd.DataFrame(list(zip(column1, column2)), columns = ['Data', 'Values'])
data

                    Data                         Values
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [140]:
data = data.set_index('Data')
data

                                  Values
Data
Equatorial Diameter:                        6,792 km
Polar Diameter:                             6,752 km
Mass:                  6.39 × 10^23 kg (0.11 Earths)
Moons:                           2 (Phobos & Deimos)
Orbit Distance:             227,943,824 km (1.38 AU)
Orbit Period:                   687 days (1.9 years)
Surface Temperature:                    -87 to -5 °C
First Record:                      2nd millennium BC
Recorded By:                    Egyptian astronomers

In [142]:
pd.set_option('colheader_justify', 'center')   # FOR TABLE <th>

html_string = '''
<html>
  <head><title>HTML Pandas Dataframe with CSS</title></head>
  <link rel="stylesheet" type="text/css" href="df_style.css"/>
  <body>
    {table}
  </body>
</html>.
'''

# OUTPUT AN HTML FILE
with open('data.html', 'w') as f:
    f.write(html_string.format(table=data.to_html(classes='mystyle')))

## Mars Hemispheres Images

In [250]:
# Browser path
executable_path = {'executable_path': 'chromedriver.exe'}

# Browser initialization
browser = Browser('chrome', **executable_path, headless=False)

# Mars planet profile
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

# Open the url in the browser
browser.visit(hemis_url)

# Select the main page's html information
html = browser.html

# Create a BeautifulSoup object
main_soup = bs(html, 'lxml')

In [261]:
# Select each image's link
div = main_soup.find('div', class_ = 'collapsible results')
# print(div)

items = div.find_all('div', class_ = 'item')

hemispheres = []
count = 0

for item in items:
    count += 1
    # Store the link in a variable for further reference
    href = item.find('a')['href']
    link = 'https://astrogeology.usgs.gov' + href
#     print(link)
    
    # Click on the link to open the image's page
    try:
        browser.visit(link)

    except:
        print('No')
    
    html = browser.html
    hemis_soup = bs(html, 'lxml')
    
    pre_title = hemis_soup.find('div', class_ = 'content')
    title = pre_title.find('h2').text
#     print(title)
    pre_src = hemis_soup.find('div', class_ = 'wide-image-wrapper')
    src = pre_src.find('img', class_ = 'wide-image')['src']
#     print(src)
    image_url = 'https://astrogeology.usgs.gov' + src
        
    hemispheres.append({'title': title, 'image_url': image_url})
    
    # Append to mars data
    mars_data[f'title_{count}'] = title
        
    mars_data[f'image_url_{count}'] = image_url

hemispheres

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [172]:
hemispheres

[{'title': 'Cerberus Hemisphere Enhanced',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]

In [263]:
mars_data

{'featured_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg',
 'weather': 'InSight sol 532 (2020-05-26) low -93.1ºC (-135.7ºF) high -1.1ºC (30.0ºF)\nwinds from the SW at 4.9 m/s (10.9 mph) gusting to 17.7 m/s (39.6 mph)\npressure at 7.10 hPa',
 'image_url_1': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'image_url_2': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'image_url_3': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'image_url_4': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
 'title_1': 'Cerberus Hemisphere Enhanced',
 'title_2': 'Schiaparelli Hemisphere Enhanced',
 'title_3': 'Syrtis Major Hemisphere Enhanced',
 'title_4': 'Valles Marineris Hemisphere Enhanced'}

In [236]:
mars_data[0]['featured_image']

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14317_hires.jpg'

In [238]:
mars_data[2]

{'title': 'Cerberus Hemisphere Enhanced',
 'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

In [239]:
mars_data.title

AttributeError: 'list' object has no attribute 'title'